.card-container {
  text-decoration-line: none;
  border-radius: 5px;  
  overflow: hidden;
}

.card-image {
  text-decoration-line: none;
  overflow: hidden;
  height: 200px;
}

.card-image img {
  text-decoration-line: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  text-decoration-line: none;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}

.card-content:hover {
  text-decoration-line: none;
  background-color: #c9c9c9; /* 호버 시 배경색 변경 */
}

.card-detail {
  text-decoration-line: none;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}
.card {
  text-decoration: none;
}


.no-link {
  text-decoration-line: none;
  color: #000000;
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  text-decoration-line: none;
  font-size: 1.5rem;
  margin: 0;
  color: #333;

}

p {
  text-decoration-line: none;
  font-size: 1rem;
  margin: 10px 0;
  color: #000000;
}

p.price {
  text-decoration-line: none;
  font-weight: bold;
  color: #f00;
}

